body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
  position: sticky;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 106px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  padding-block: 2rem 2.5rem;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

.logo {
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.2rem;
  border-bottom: 1px solid black;
  padding-inline: 150px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 26%;
}

nav ul li {
  list-style-type: none;
  font-size: 14px;
  cursor: pointer;
}

nav button {
  border: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

section {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden;
}

section div {
  padding-block: 3.5rem 5rem;
  width: 45%;
}

section > div:nth-child(1) {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

section div h1 {
  letter-spacing: -8px;
}

section div button {
  border: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

main section {
  padding-inline: 150px;
}

.padding-inline {
  padding-inline: 150px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

/* TRENDING */

.trending-container > div > h4 {
  font-weight: bold;
}

.trending-container > div:first-child {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.trending-container > div:first-child > h4 {
  margin-left: 0.5rem;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.trending h4,
.img-text h5 {
  font-weight: bold;
  line-height: 1.2;
}

.article {
  display: flex;
  margin-top: 2rem;
  width: 33%;
  height: 7rem;
}

.big-number {
  margin-right: 1rem;
}

.big-number h2 {
  color: #e6e7e6;
  font-weight: bold;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.date {
  display: flex;
  align-items: center;
  color: #898986;
}

.star {
  margin-left: 0.3rem;
}

.img-text {
  display: flex;
  align-items: center;
}

.circle {
  width: 25px;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.square {
  width: 25px;
  border-radius: 5px;
  margin-right: 0.3rem;
}

/* RELATED */

.related-container {
  padding-inline: 150px;
  width: 50%;
}

.article2 {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  justify-content: space-between;
}

.article2 img:nth-child(2) {
  margin-left: 2rem;
  width: 200px;
}

.article2 h4 {
  color: #898986;
}

.related-container .news {
  height: 9rem;
  flex-grow: 1;
}

.related-container h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}

.related-container span {
  background-color: rgb(243, 242, 242);
  padding: 0.2rem;
  border-radius: 10px;
}

.save-btn {
  margin-left: auto;
}

.article2:last-child {
  padding-bottom: 2rem;
}

.bottom-container {
  display: flex;
  width: 95%;
}

.discover {
  width: 30%;
  padding-bottom: 2rem;
  height: 100%;
}

.discover h4 {
  margin-block: 3rem 1rem;
  font-weight: bold;
}

.topics {
  display: flex;
  flex-wrap: wrap;
}

.topics > div {
  color: #898986;
  padding: 0.7rem 1rem;
  border: 1px solid rgb(243, 242, 242);
  font-size: 14px;
  margin: 0.2rem;
}

.footer {
  display: flex;
  color: #898986;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer > div {
  margin: 0.5rem 0.8rem;
  cursor: pointer;
}
